.button-order {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @white;
  text-decoration: none;

  background-color: @green;

  display: block;

  text-align: center;
  padding: 7px 44px;
  box-sizing: border-box;
}

// состояния кнопок

.button-order:active {
  background-color: #5eaa2f;

  &:active span {
    opacity: 0.3;
  }
}

.button-order:hover {
  background-color: #5eaa2f;
}
