.main-header {
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 10px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding: 0;
    padding-top: 34px;
    width: 708px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    padding-top: 53px;
    display: flex;
  }
}

// стилизация бургера
.main-header__navigation-toggle {
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__navigation--close .main-header__navigation-toggle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../../img/header-img/menu-closed.svg");
  background-repeat: no-repeat;
}

.main-header__navigation--open .main-header__navigation-toggle::before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-image: url("../../../img/header-img/menu-opened.svg");
  background-repeat: no-repeat;
}
// // стилизация логотипов нужно ли?
// .main-header__logo-wrapper {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   @media (min-width: @tablet-width) {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     min-width: 174px;
//     min-height: 52px;
//   }

//   @media (min-width: @desktop-width) {
//     display: flex;
//     justify-content: space-between;

//     min-width: 202px;
//     min-height: 59px;
//   }
// }
// стилизация меню пользователя

.main-header__navigation {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    margin-left: 540px;
  }
}

.main-header__navigation-wrapper {
  min-width: 320px;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: @white;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 0;
    min-width: 440px;
  }

  @media (min-width: @desktop-width) {
    min-width: 478px;
  }
}

// реализация меню только при мобильной версии

@media (max-width: @mobile-width-only) {
  .main-header__navigation--close .main-header__navigation-wrapper {
    display: none;
  }
}

// стили при отключенном js
.main-header__navigation--nojs .main-header__navigation-toggle {
  display: none;
}

.main-header__navigation--nojs .main-header__navigation-wrapper {
  position: static;
  min-height: 0;
}

.main-header__navigation--nojs .menu-services__item {
  display: block;
}

.main-header__navigation--nojs .menu-services__item--active a {
  border-bottom: 2px solid #68b738;
}
