.menu-services-list {
  .list-type-none();
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;

  @media (min-width: @tablet-width) {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 35px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
    gap: 32px;
  }
}

.menu-services__item {
  padding-top: 22px;
  padding-bottom: 19px;
  border-top: 1px solid @special-light-gray;
  border-bottom: 1px solid @special-light-gray;
  width: 100%;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

// стилизация навигации по сайту на главной странице
.menu-services__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    border-bottom: 2px solid @green;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @black;
  }
}

.active-link--index {
  cursor: default;
  padding-bottom: 8px;
  border-bottom: 2px solid @green;

  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @white;
  }
}

// стилизация навигации по сайту на страницах каталога и подбора программы
.menu-services__link--index {
  @media (min-width: @desktop-width) {
    color: @white;
  }
}

.active-link {
  cursor: default;
  padding-bottom: 8px;
  border-bottom: 2px solid @green;
}
