.catalog {
  margin-bottom: 50px;
}

.catalog__title-link,
.catalog__image-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.properties-list {
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  margin-bottom: 13px;
}

.catalog__product-order {
  .button-order();
}
