.catalog {
  @media (min-width: @desktop-width) {
    max-width: 1220px;
  }
}
// стилизация блока с карточками товара
.catalog__product-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 144px;
    padding: 0 30px;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 140px;
    padding: 0 110px;
    justify-content: unset;
    margin-bottom: 72px;
  }
}

// стилизация одной карточки товара
.catalog__product {
  padding-top: 8px;
  margin-bottom: 35px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 320px;
    background-color: @silver-gray-light;
    top: -10px;
    right: -20px;
  }

  @media (min-width: @tablet-width) {
    border: none;
    background-color: @basic-grey;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      display: none;
    }
  }
}

// стилизация контента карточки
.catalog__type {
  display: flex;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.catalog__type-small {
  @media (min-width: @tablet-width) {
    margin: -47px 36px 33px 36px;
  }

  @media (min-width: @desktop-width) {
    margin: -49px 30px 31px 35px;
  }
}

.catalog__type-big {
  @media (min-width: @tablet-width) {
    margin: -74px 36px 33px 36px;
  }

  @media (min-width: @desktop-width) {
    margin: -80px 30px 32px 35px;
  }
}
// стилизация названия товара в карточке
.catalog__title-link {
  font-family: "Oswald", sans-serif;
  width: 76px;
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: @black-dark-grey;

  @media (min-width: @tablet-width) {
    width: 155px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-left: 48px;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
    margin-left: 12px;
    line-height: 21px;
  }
}

// стилизация картинки с товаром
.catalog__image-link-small {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
  }
}

.catalog__image-link-big {
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 43px;
  }
}

// стилизация картинки товара 500гр
.catalog__image-small {
  @media (min-width: @tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    height: 174px;
  }
}

// стилизация картинки товара 1000гр
.catalog__image-big {
  @media (min-width: @tablet-width) {
    width: 168px;
    height: 206px;
  }

  @media (min-width: @desktop-width) {
    width: 172px;
    height: 196px;
  }
}

// стилизация кнопки "заказать"
.catalog__product-order {
  .button-order;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;

  @media (min-width: @tablet-width) {
    padding: 10px 93px;
    margin-bottom: 33px;
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 53px;
    width: 168px;
    margin-bottom: 38px;
  }
}

// стилизация блока после списка каталога
.catalog__show-more {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 320px;
    background-color: @silver-gray-light;
    top: -11px;
    right: -20px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../img/catalog-plus.svg");
    top: 11px;
    left: 125px;
  }

  @media (min-width: @tablet-width) {
    border: none;

    &::before {
      display: none;
    }

    &::after {
      top: 52px;
      left: 132px;
      width: 60px;
      height: 60px;
      background-image: url("../img/catalog-big-plus.svg");
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      top: 51px;
      left: 92px;
    }
  }
}

.catalog__show-more-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 15px 25px 20px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding: 163px 37px 36px 37px;
    border: 2px solid @basic-grey;
  }

  @media (min-width: @desktop-width) {
    padding: 160px 39px 41px;
  }
}

.catalog__show-more-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;

  text-transform: uppercase;
  color: @black-light;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    text-align: center;
    margin-bottom: 23px;
  }
}

.catalog__show-more-subtitle {
  font-family: "Arial", sans-serif;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  color: @dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 167px;
    margin-bottom: 87px;
  }
}

.catalog__show-more-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  width: 279px;
  color: @dark-grey;
  background-color: @basic-grey;
  padding: 10px 94px;

  @media (min-width: @desktop-width) {
    width: 168px;
    line-height: 0;
    padding: 20px 39px;
  }
}
// стилизация состояний серой кнопки "Показать ещё"
.catalog__show-more-link:hover {
  background-color: @silver-gray-light;
}

.catalog__show-more-link:active {
  background-color: @silver-gray-light;
}

.catalog__show-more-link:active span {
  opacity: 0.3;
  color: @dark-grey;
}
