.gift {
  height: 289px;
  position: relative;
  background-image: linear-gradient(@green-light, @green-light), url("../img/catalog-cat-background.jpg");
  background-repeat: no-repeat;
  width: 280px;
  z-index: -2;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(@green-light, @green-light), url("../img/catalog-cat-background@2x.jpg");
    background-size: 280px 289px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/catalog-icon-gift.svg");
    background-repeat: no-repeat;
    width: 78px;
    height: 80px;
    top: 58px;
    left: 101px;
  }

  @media (min-width: @tablet-width) {
    height: 202px;
    background-image: linear-gradient(@green-light, @green-light), url("../img/catalog-tablet-cat-background.jpg");
    background-repeat: no-repeat;
    width: 707px;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(@green-light, @green-light), url("../img/catalog-tablet-cat-background@2x.jpg");
      background-size: 707px 202px;
    }

    &::after {
      width: 80px;
      height: 82px;
      left: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    height: 288px;
    width: 245px;
    background-image: linear-gradient(@green-light, @green-light), url("../img/catalog-desktop-cat-background.jpg");

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(@green-light, @green-light), url("../img/catalog-desktop-cat-background@2x.jpg");
      background-size: 245px 288px;
    }

    &::after {
      background-image: url("../img/catalog-icon-gift.svg");
      top: 55px;
      left: 81px;
    }
  }
}

.gift__text-link {
  font-family: "Arial", sans-serif;
  display: block;
  margin: 0 auto;
  width: 161px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  padding: 186px 0 43px 0;
  text-align: center;
  color: @white;

  @media (min-width: @tablet-width) {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 71px;
    right: 121px;
  }

  @media (min-width: @desktop-width) {
    top: 184px;
    right: 43px;
    text-align: center;
  }
}
