.gift {
  background-color: @green-light;

  height: 280px;

  @media (min-width: @tablet-width) {
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    height: 288px;
    width: 245px;
  }
}

.gift__text {
  padding: 0;

  font-size: 16px;
  line-height: 20px;

  color: @white;
}
