.main-inner-container__title {
  margin: 0;
  padding: 0 40px;
  font-size: 36px;
  line-height: 36px;

  font-style: normal;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 60px;
    margin-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 74px;
    margin-bottom: 84px;
  }
}
