.main-inner-container__title {
  margin: 0;
  padding: 27px 40px 41px 20px;
  font-size: 36px;
  line-height: 36px;

  font-style: normal;
  font-weight: 400;

  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 64px 0 163px 30px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 74px 0 165px 110px;
  }
}
