.main-inner-container {
  overflow: hidden;
  margin: 0 auto;
}

.main-inner-container__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 40px 41px 20px;

  margin: 0;
  border-top: 1px solid @gray;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 64px 0 163px 30px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding: 74px 0 165px 110px;
  }
}
