.other-product {
  margin-bottom: 35px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
    padding: 0 110px;
  }
}

// стилизация всего блока
.other-product__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    border: none;
    display: grid;
    grid-template-columns: 896px 245px;
    gap: 0 79px;
  }
}
// стилизация списка товаров
.other-product__list {
  .list-type-none();
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    border: 1px solid @silver-gray;
    margin-bottom: 69px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    border: none;
    border-top: 1px solid @silver-gray;
    border-bottom: 1px solid @silver-gray;
  }
}

// стилизация заголовка
.other-product__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
  padding: 25px 44px 0 0;
  font-size: 24px;
  line-height: 24px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 320px;
    background-color: @silver-gray-light;
    top: -2px;
    right: -20px;
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: @green;
    top: 39px;
    left: 249px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-left: 37px;
    margin-bottom: 80px;


    &::before {
      top: 23px;
      left: 410px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100vw;
      background-color: @green;
      top: 23px;
      right: 100%;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin-bottom: 81px;

    &::before {
      top: 25px;
      left: 375px;
    }

    &::after {
      top: 25px;
      width: 70px;
      left: -110px;
    }
  }
}


// стилизация одного пункта товара
.other-product__item {
  padding-top: 12px;
  margin-bottom: 20px;
  border-top: 1px solid @gray;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 25px 38px 28px 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      border-top: 0;
    }
  }

  @media (min-width: @desktop-width) {

    align-items: center;
    padding: 18px 0 13px 0;
  }
}

.other-product__item-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  margin: 0;

  color: @black-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 161px;
    margin-right: 126px;
    margin-top: -6px;
  }
}

.other-product__button {
  .button-order;
  padding: 10px 109px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    width: 244px;
    padding: 7px 26px;
  }
}
