.other-product {
  margin-bottom: 75px;
}

.other-product__title {
  font-size: 24px;
  line-height: 24px;
}

.other-product__list {
  .list-type-none();
}

.other-product__item:not(:last-child) {
  margin-bottom: 31px;
}

.other-product__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  color: #222222;
}

.properties-other-product {
  font-size: 14px;
  line-height: 14px;

  color: #444444;
}

.other-product__button {
  .button-order;
}
