.other-product {
  margin-bottom: 35px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    margin-bottom: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
  }
}

.other-product__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.other-product__title {
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}

.other-product__list {
  .list-type-none();
}

.other-product__item:not(:last-child) {
  margin-bottom: 31px;
}

.other-product__item-title {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  color: @black-dark-grey;
}

.other-product__button {
  .button-order;
}
