.properties-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @dark-grey;

  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: repeat(3, min-content);
  grid-column: 2 / 3;
  margin-top: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    grid-template-columns: repeat(2, 124px);
    grid-template-rows: repeat(3, min-content);
    margin-top: 21px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 84px);
  }
}

.properties-list__name {
  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.properties-list__value {
  margin: 0;
  text-align: right;

  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
  }
}
