.properties-other-product {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 15px;

  color: @dark-grey;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 20px;
    justify-content: unset;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 288px;
    justify-content: space-between;
  }
}

.properties-other-product__price {
  @media (min-width: @desktop-width) {
    margin: 0;
  }
}
