.adress-footer {
  padding: 26px 20px 26px 20px;
  display: flex;
}

.adress-footer__text {
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: @black-light;
}

.adress-footer__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @dark-grey;
}
