.comment-text__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 35px;
}

.comment-text__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;
  color: @dark-grey;
}
