// стилизация заголовка блока "Дополнительно"
.other-product-list__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-bottom: 36px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100vw;
    background-color: @green;
    top: 14px;
    left: 164px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: @green;
      top: 21px;
      left: -70px;
      z-index: -1;
    }

    &::before {
      background-color: @green;
      top: 21px;
      left: 252px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 63px;

    &::after {
      top: 23px;
      width: 100vw;
      left: auto;
      right: calc(100% + 40px);
    }

    &::before {
      top: 23px;
      right: -110px;
    }
  }
}

// стилизация только списков пунктов дополнительных товаров
.other-product-list__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 282px 242px;
    gap: 46px 61px;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    margin-bottom: 65px;
  }
}

.other-product-list__label {
  margin-bottom: 25px;
  padding-left: 44px;
  position: relative;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    padding-left: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 59px;
    width: 214px;
    box-sizing: border-box;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

// стилизация маркеров чекбокса
.other-product-list__field-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  outline: 1px solid @silver-gray;
  left: 0;
  top: -4px;


  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    top: -6px;
  }
}

// стилизация галочки выбора
.other-product-list__field[type="checkbox"]:checked + .other-product-list__field-mark::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../../../img/form-check-icon.svg");
  background-repeat: no-repeat;
  top: 8px;
  left: 6px;

  @media (min-width: @tablet-width) {
    background-image: url("../../../img/form-tablet-check-icon.svg");
    width: 26px;
    height: 26px;
    top: 7px;
    left: 7px;
  }
}

// стилизация состояний чекбокса

.other-product-list__field:hover ~ .other-product-list__field-mark {
  outline: 1px solid @aprox-gray;
}

.other-product-list__field:disabled ~ .other-product-list__value,
.other-product-list__field:disabled + .other-product-list__field-mark {
  cursor: default;
  opacity: 0.3;
}
