.program {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    width: 1220px;
    padding: 0 110px;
  }
}

.program__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;

  font-style: normal;
  font-weight: 400;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 56px;
  }
}

.program__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  display: block;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 66px;
    width: 323px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 66px;
    width: 323px;
  }
}

.program__postscript {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
  }
}
