.program-form {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 0 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;

    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.program-form__cat-data {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
  }
}

.program-form__info-owner {
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }
}

.program-form__offer {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }
}

.program-form__comment {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }
}

.program-form__other-product {
  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 64px;
  }
}

.program-form__text-contain {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

// стилизация кнопки отправки формы
.program-form__button {
  .button-order;
  height: 40px;
  border: none;
  width: 280px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    height: 52px;
    width: 282px;
    padding: 13px 45px;
    margin-right: 61px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-right: 84px;
  }
}
