.program-form,
.program-form__info,
.program-form__info-owner {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.program-form__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.program-form__offer {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.program-form__info-owner {
  margin-bottom: 22px;
}

.program-form__comment {
  margin-bottom: 22px;
}

.program-form__other-product {
  margin-bottom: 21px;
}

.program-form__button {
  .button-order;
  border: none;
  margin-bottom: 21px;
}
