.instruction {
  margin: 0 auto;
  margin-bottom: 49px;
  padding: 0 20px;
  width: 280px;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 0 30px;
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    width: 1220px;
    margin-bottom: 26px;
    padding: 0 110px;
  }
}

.instruction__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-align: center;

  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }
}

.instruction__description-list {
  .list-type-none();
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 245px 245px;
    column-gap: 136px;
    row-gap: 38px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.instruction__description-item {
  @media (min-width: @desktop-width) {
    width: 250px;
  }
}

.instruction__description-item:not(:last-child) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.instruction__description {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;

  font-size: 14px;
  line-height: 18px;

  color: @dark-grey;
}
