.programm-offer {
  width: 320px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: flex;
    margin-bottom: 71px;
  }
}

.programm-offer__weight-change {
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.programm-offer__wrapper {
  padding: 30px 33px 18px 20px;

  @media (min-width: @tablet-width) {
    padding: 77px 62px 52px 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 41px 50px 50px 50px;
  }
}

.programm-offer__weight-change:not(:last-child) {
  margin-bottom: 20px;
}

.programm-offer__title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  text-transform: uppercase;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.programm-offer__description {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;

  font-size: 14px;
  line-height: 18px;

  color: @dark-grey;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programm-offer__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @black;

  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
