.promo {
  background-color: @green-light;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 302px;
    background-image: url("../../../img/promo-cat.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    background-color: inherit;

    &::before {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @green-light;
    width: 720px;
    position: relative;
    margin-bottom: 82px;

    &::before {
      content: "";
      position: absolute;
      width: 320px;
      height: 302px;
      background-image: url("../../../img/promo-cat.jpg");
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.promo__container {
  width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 709px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.promo__title {
  margin: 0;
  padding-top: 27px;

  font-size: 36px;
  line-height: 36px;

  font-style: normal;
  font-weight: 400;
  color: @white;

  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 62px;

    font-size: 60px;
    line-height: 60px;
    color: @black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    width: 525px;
    padding-top: 111px;
    font-size: 60px;
    line-height: 60px;
    color: @black;
  }
}

.promo__subtitle {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 52px;

    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;
  }
}

.promo__image {
  display: block;

  @media (min-width: @desktop-width) {
    position: absolute;
    left: 500px;
    bottom: 54px;
  }
}

.promo__link-programm {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 244px;
    padding: 14px 26px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    padding: 14px 26px;
    box-sizing: border-box;
  }
}
