// .main-container {
//   overflow: hidden;
// }

.promo {
  @media (min-width: @desktop-width) {
    margin-bottom: 135px;
    position: relative;
  }
}

// стилизация фона зеленого с котейкой
.promo__background {
  width: 320px;
  height: 302px;
  position: absolute;
  background-image: linear-gradient(@green-light, @green-light), url("../img/promo-cat-mobile.jpg");
  background-position: auto;
  background-repeat: no-repeat;
  z-index: -3;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(@green-light, @green-light), url("../img/promo-cat-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    width: 100vw;
    height: 695px;
    display: block;
    left: 611px;
    top: -116px;
    position: absolute;
    background-image: linear-gradient(@green-light, @green-light), url("../img/promo-cat-desktop-2.jpg");
    background-repeat: no-repeat;
    background-size: 1044px 695px;
    background-position-x: -14px;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(@green-light, @green-light), url("../img/promo-cat-desktop-2@2x.jpg");
      background-size: 720px auto;
    }
  }
}

.promo__container {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 709px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
    position: none;
  }
}

.promo__text-block {
  z-index: 1;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding-top: 27px;

  font-size: 36px;
  line-height: 36px;

  font-style: normal;
  font-weight: 400;
  color: @white;

  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: @black;

    padding-top: 64px;
    padding-left: 87px;
    margin-bottom: 42px;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    padding: 0;
    padding-top: 111px;
    padding-left: 80px;
  }
}

.promo__subtitle {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white;

  margin: 0;
  margin-top: 25px;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: @black;
    text-align: left;

    padding: 0;
    padding-left: 89px;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}

.promo__delivery-block {
  margin: 0 auto;
  z-index: 1;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 0;
  }
}

// стилизация картинки с продукцией товара
.promo__image {
  display: block;
  z-index: 1;

  @media (min-width: @tablet-width) {
    min-width: 709px;
    min-height: 609px;
  }

  @media (min-width: @desktop-width) {
    min-width: 552px;
    min-height: 499px;
    margin-left: -43px;
    margin-top: 30px;
  }
}

// стилизация кнопки заказа
.promo__link-programm {
  margin-top: 3px;
  width: 280px;
  height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    height: 54px;
    width: 244px;
    top: 27px;
    left: 90px;
    padding: 15px 26px;
    position: absolute;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    top: 340px;
    left: -416px;
  }
}
