// позиционирование блока с результатами снижения веса
.results-list {
  display: flex;
  text-align: center;
}

// стилизация результатов(элементов) снижения веса
.result-list {
  margin-bottom: 20px;
  margin-right: 57px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 80px;
    margin-right: 42px;
    width: 162px;
    height: 72px;
    text-align: center;
    border: 1px solid @silver-gray;
    border-radius: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
    margin-right: 42px;
  }
}

.results-list__results {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.results-list__results-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: @dark-grey;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}
