.special {
  background-color: @light-gray;
  margin-bottom: 40px;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 708px;

    .special__wrapper-slider {
      display: flex;
      flex-direction: column;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    display: flex;

    .special__text-wrapper {
      display: flex;
      flex-direction: column;
    }

    .special__wrapper-slider {
      display: flex;
      flex-direction: column;
    }
  }
}

.special__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;

  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 76px;
  }
}

.special__description {
  margin: 0;
  padding: 0;

  font-family: "Arial", sans-serif;

  font-size: 14px;
  line-height: 18px;

  color: @dark-grey;
  margin-bottom: 20px;

  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    font-size: 16px;
    line-height: 24px;
  }
}

.special__wrapper-slider {
  margin-top: 40px;
  margin-bottom: 15px;

  .special__image-after {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: flex;

    .special__image-after {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;

    .special__image-after {
      display: block;
    }
  }
}
